.main-header {
    width: 100%;
    background-color: var(--white-color);
    border-bottom: 1px solid var(--white-color);
}

.main-header .container-xl .main-header-container {
    margin: 0.8rem 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.main-header .container-xl .logo-container .logo-text {
    font-family: var(--title-font);
    font-weight: var(--font-regular);
    color: var(--logo-color);
    letter-spacing: 3%;
}

.main-header .container-xl .menu-container .menu-button {
    width: 24px;
    height: 24px;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    display: none;
}

.main-header .container-xl .menu-container .menu-button .line-one,
.main-header .container-xl .menu-container .menu-button .line-two,
.main-header .container-xl .menu-container .menu-button .line-three {
    height: 0.75px;
    border-bottom: 2px solid #010101;
}

.main-header .container-xl .menu-container .menu-button .line-one {
    width: 17.25px;
}

.main-header .container-xl .menu-container .menu-button .line-two {
    width: 20.25px;
}

.main-header .container-xl .menu-container .menu-button .line-three {
    width: 13.5px;
}

.main-header .container-xl .menu-container .main-menu {
    display: flex;
    gap: 2.5rem;
    justify-content: space-between;
    align-items: center;
}

.main-header .container-xl .menu-container .main-menu .menu-item a {
    text-transform: uppercase;
    font-weight: var(--font-regular);
}

/* ===== Responsive ===== */
@media (max-width: 1440px) {
    .main-header .container-xl .main-header-container {
        margin: 0.8rem 0;
    }
}
@media (max-width: 768px) {
    .main-header .container-xl .menu-container .menu-button {
        display: flex
    }
    .main-header .container-xl .menu-container .main-menu {
        display: none
    }
}